**Project context** <br>This notebook is part of the project "Bookmakerspy", a project that aims at predicting football games results in the context of the English Premier League (based on data from 2014 to 2018) and ultimately beat bookmakers' odds.<br>
The current notebook "bookmakerspy_data_collection" is the first in a series of 4 notebooks. It is followed by "bookmakerspy_data_preprocessing", "bookmakerspy_modelisation" and "bookmakerspy_odds_strategy".

**Information about the notebook**<br>
This notebook is intended for processing with Google Colab, and aims at collecting data from the following sources: https://www.kaggle.com/shubhmamp/english-premier-league-match-data and https://datahub.io/sports-data/english-premier-league in order to create a dataframe containing English Premier League game statistics and player statistics and the corresponding bookmakers' odds.<br>
The kaggle dataset is available in json format and contains games and players statistics between 2014 and 2018. The datahub dataset enables to retrieve bookmakers' odds for the same games.<br>

**Notebook goal**<br>
Running the notebook will result in the creation of an intermediary Google Drive folders containing the relevant data and performing minor pre-processing tasks. Data will then be assembled into a dataset that can then be processed further for the exploration, pre-processing and modelisation steps.

In [1]:
# Connect the notebook with Google drive to collect data from Kaggle
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Upload your personal kaggle.json containing your personal token info. This file can be retrieved via your personal Kaggle account (more info: https://www.kaggle.com/docs/api#authentication)
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"mllacc","key":"d20eed651306a0a3a7297dad6e1f6f12"}'}

In [3]:
# Create Kaggle folder
! mkdir ~/.kaggle

# Copy kaggle.json into kaggle folder
! cp kaggle.json ~/.kaggle/

# Modify permissions for kaggle.json
! chmod 600 ~/.kaggle/kaggle.json

In [4]:
# Download Kaggle data https://www.kaggle.com/shubhmamp/english-premier-league-match-data
! kaggle datasets download -d shubhmamp/english-premier-league-match-data

Downloading english-premier-league-match-data.zip to /content
 90% 5.00M/5.57M [00:00<00:00, 13.6MB/s]
100% 5.57M/5.57M [00:00<00:00, 13.8MB/s]

In [5]:
# Creation of a "dataset" folder in Google Drive and unzip Kaggle data into this folder
! mkdir '/content/drive/My Drive/dataset'
! unzip english-premier-league-match-data.zip -d '/content/drive/My Drive/dataset'

Archive:  english-premier-league-match-data.zip
  inflating: /content/drive/My Drive/dataset/datafile/season14-15/season_match_stats.json
  inflating: /content/drive/My Drive/dataset/datafile/season14-15/season_stats.json
  inflating: /content/drive/My Drive/dataset/datafile/season15-16/season_match_stats.json
  inflating: /content/drive/My Drive/dataset/datafile/season15-16/season_stats.json
  inflating: /content/drive/My Drive/dataset/datafile/season16-17/season_match_stats.json
  inflating: /content/drive/My Drive/dataset/datafile/season16-17/season_stats.json
  inflating: /content/drive/My Drive/dataset/datafile/season17-18/season_match_stats.json
  inflating: /content/drive/My Drive/dataset/datafile/season17-18/season_stats.json
  inflating: /content/drive/My Drive/dataset/datafilev2/datafile/season14-15/season_match_stats.json
  inflating: /content/drive/My Drive/dataset/datafilev2/datafile/season14-15/season_stats.json
  inflating: /content/drive/My Drive/dataset/datafilev2/datafile/season15-16/season_match_stats.json
  inflating: /content/drive/My Drive/dataset/datafilev2/datafile/season15-16/season_stats.json
  inflating: /content/drive/My Drive/dataset/datafilev2/datafile/season16-17/season_match_stats.json
  inflating: /content/drive/My Drive/dataset/datafilev2/datafile/season16-17/season_stats.json
  inflating: /content/drive/My Drive/dataset/datafilev2/datafile/season17-18/season_match_stats.json
  inflating: /content/drive/My Drive/dataset/datafilev2/datafile/season17-18/season_stats.json

In [2]:
import json
import pandas as pd

# Match team stats data

In [3]:
# retrieving the files containing statistics
team_stats_14_15_json = json.load(open('/content/drive/My Drive/dataset/datafilev2/datafile/season14-15/season_stats.json'))
team_stats_15_16_json = json.load(open('/content/drive/My Drive/dataset/datafilev2/datafile/season15-16/season_stats.json'))
team_stats_16_17_json = json.load(open('/content/drive/My Drive/dataset/datafilev2/datafile/season16-17/season_stats.json'))
team_stats_17_18_json = json.load(open('/content/drive/My Drive/dataset/datafilev2/datafile/season17-18/season_stats.json'))

In [4]:
def team_stats(json,teamloc):
  
  # data containing home team stats are contained at position 0, whereas data containining away team stats are contained at position 1
  teamidx = 0 if teamloc == 'home' else 1 if teamloc == 'away' else "null"
  
  # creation of a dataframe to gather relevant data
  stats = pd.DataFrame()
  row=0

  # Iterating json data to retrieve stats related to the team
  for match_id, infos_match in json.items():

      stats.loc[row, 'match_id'] = match_id
      
      team = dict(list(infos_match.values())[teamidx])

      for column, team_info in team['team_details'].items():
          stats.loc[row, column] = team_info
      
      for column, team_stat in team['aggregate_stats'].items():
          stats.loc[row, column] = team_stat
      

      row += 1
  
  stats['date'] = pd.to_datetime(stats['date'], dayfirst=True)
  stats = stats.sort_values(by=['date', 'match_id'])
  stats = stats.reset_index(drop=True)
  
  stats['team_rating'] = stats['team_rating'].astype(float)
  
  for column in stats.columns[5:]:
      stats[column] = stats[column].astype(float)
  
  return stats

In [ ]:
team_stats_home = {'season_14_15': team_stats(team_stats_14_15_json,'home').add_prefix('home_'), 
                   'season_15_16': team_stats(team_stats_15_16_json,'home').add_prefix('home_'), 
                   'season_16_17': team_stats(team_stats_16_17_json,'home').add_prefix('home_'),  
                   'season_17_18': team_stats(team_stats_17_18_json,'home').add_prefix('home_')}

team_stats_away = {'season_14_15': team_stats(team_stats_14_15_json,'away').add_prefix('away_'), 
                   'season_15_16': team_stats(team_stats_15_16_json,'away').add_prefix('away_'), 
                   'season_16_17': team_stats(team_stats_16_17_json,'away').add_prefix('away_'),  
                   'season_17_18': team_stats(team_stats_17_18_json,'away').add_prefix('away_')}

In [15]:
# Add season info
team_stats_home['season_14_15']['season'] = '2014_2015'
team_stats_home['season_15_16']['season'] = '2015_2016'
team_stats_home['season_16_17']['season'] = '2016_2017'
team_stats_home['season_17_18']['season'] = '2017_2018'

In [16]:
# Concatenation home data
df_home = pd.concat([team_stats_home['season_14_15'],team_stats_home['season_15_16'],team_stats_home['season_16_17'],team_stats_home['season_17_18']])
# Concatenation away data
df_away = pd.concat([team_stats_away['season_14_15'],team_stats_away['season_15_16'],team_stats_away['season_16_17'],team_stats_away['season_17_18']])

In [18]:
df_home.head()

  home_match_id home_team_id  ... home_penalty_save     season
0        829513           13  ...               NaN  2014_2015
1        829515           14  ...               NaN  2014_2015
2        829517           32  ...               NaN  2014_2015
3        829519          171  ...               NaN  2014_2015
4        829520           96  ...               NaN  2014_2015

[5 rows x 45 columns]

In [19]:
df_away.head()

  away_match_id away_team_id  ... away_att_goal_high_centre  away_att_post_right
0        829513          162  ...                       NaN                  NaN
1        829515           31  ...                       NaN                  NaN
2        829517          259  ...                       NaN                  NaN
3        829519          214  ...                       NaN                  NaN
4        829520           24  ...                       NaN                  NaN

[5 rows x 44 columns]

In [17]:
# Merge away / home on match id
df_merge = df_home.merge(df_away, left_on=['home_match_id'], right_on=['away_match_id'])

In [20]:
# removing columns made redundant by the merge
df_merge = df_merge.rename(columns={"home_match_id": "match_id", "home_date": "date"})
df_merge = df_merge.drop(['away_match_id','away_date','home_goals','away_goals'], axis=1)

In [21]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1520 entries, 0 to 1519
Data columns (total 85 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   match_id                    1520 non-null   object
 1   home_team_id                1520 non-null   object
 2   home_team_name              1520 non-null   object
 3   home_team_rating            1520 non-null   float64
 4   date                        1520 non-null   datetime64[ns]
 5   home_att_goal_low_left      537 non-null    float64
 6   home_won_contest            1519 non-null   float64
 7   home_possession_percentage  1520 non-null   float64
 8   home_total_throws           1520 non-null   float64
 9   home_att_miss_high_left     537 non-null    float64
 10  home_blocked_scoring_att    1453 non-null   float64
 11  home_total_scoring_att      1520 non-null   float64
 12  home_att_sv_low_left        715 non-null    float64
 13  home_total_tackle           1520 non-null   float64
 14  home_att_miss_high_right    621 non-null    float64
 15  home_aerial_won             1520 non-null   float64
 16  home_att_miss_right         1181 non-null   float64
 17  home_att_sv_low_centre      1022 non-null   float64
 18  home_aerial_lost            1520 non-null   float64
 19  home_accurate_pass          1520 non-null   float64
 20  home_total_pass             1520 non-null   float64
 21  home_won_corners            1497 non-null   float64
 22  home_shot_off_target        1509 non-null   float64
 23  home_ontarget_scoring_att   1492 non-null   float64
 24  home_att_miss_left          1166 non-null   float64
 25  home_fk_foul_lost           1520 non-null   float64
 26  home_att_sv_low_right       715 non-null    float64
 27  home_att_goal_low_centre    333 non-null    float64
 28  home_att_sv_high_left       226 non-null    float64
 29  home_total_offside          1255 non-null   float64
 30  home_att_goal_high_left     159 non-null    float64
 31  home_att_goal_low_right     533 non-null    float64
 32  home_att_miss_high          1054 non-null   float64
 33  home_att_sv_high_centre     400 non-null    float64
 34  home_att_post_high          155 non-null    float64
 35  home_post_scoring_att       339 non-null    float64
 36  home_att_sv_high_right      266 non-null    float64
 37  home_att_pen_goal           148 non-null    float64
 38  home_att_post_right         115 non-null    float64
 39  home_att_goal_high_right    190 non-null    float64
 40  home_att_post_left          94 non-null     float64
 41  home_att_goal_high_centre   131 non-null    float64
 42  home_penalty_save           18 non-null     float64
 43  season                      1520 non-null   object
 44  away_team_id                1520 non-null   object
 45  away_team_name              1520 non-null   object
 46  away_team_rating            1520 non-null   float64
 47  away_won_corners            1484 non-null   float64
 48  away_fk_foul_lost           1520 non-null   float64
 49  away_won_contest            1519 non-null   float64
 50  away_total_tackle           1520 non-null   float64
 51  away_aerial_lost            1520 non-null   float64
 52  away_possession_percentage  1520 non-null   float64
 53  away_att_goal_low_left      441 non-null    float64
 54  away_total_pass             1520 non-null   float64
 55  away_total_throws           1520 non-null   float64
 56  away_total_offside          1238 non-null   float64
 57  away_blocked_scoring_att    1384 non-null   float64
 58  away_ontarget_scoring_att   1466 non-null   float64
 59  away_aerial_won             1520 non-null   float64
 60  away_accurate_pass          1520 non-null   float64
 61  away_total_scoring_att      1519 non-null   float64
 62  away_att_sv_low_left        609 non-null    float64
 63  away_att_miss_high_right    564 non-null    float64
 64  away_att_miss_right         1057 non-null   float64
 65  away_shot_off_target        1489 non-null   float64
 66  away_att_miss_left          1062 non-null   float64
 67  away_att_miss_high          930 non-null    float64
 68  away_att_goal_low_centre    291 non-null    float64
 69  away_att_goal_high_right    146 non-null    float64
 70  away_att_miss_high_left     481 non-null    float64
 71  away_att_sv_low_centre      948 non-null    float64
 72  away_att_goal_high_left     133 non-null    float64
 73  away_att_sv_high_centre     360 non-null    float64
 74  away_att_goal_low_right     389 non-null    float64
 75  away_att_sv_high_right      199 non-null    float64
 76  away_att_sv_high_left       207 non-null    float64
 77  away_penalty_save           46 non-null     float64
 78  away_att_sv_low_right       647 non-null    float64
 79  away_post_scoring_att       264 non-null    float64
 80  away_att_post_high          122 non-null    float64
 81  away_att_post_left          90 non-null     float64
 82  away_att_pen_goal           114 non-null    float64
 83  away_att_goal_high_centre   100 non-null    float64
 84  away_att_post_right         74 non-null     float64
dtypes: datetime64[ns](1), float64(78), object(6)
memory usage: 1021.2+ KB

In [22]:
# even if this is pre-processing already, we are setting all NaNs to 0 as it is the meaning of the NaNs in this first part of our dataframe
# Les NaN dans le dataset sont équivalents à 0
df_merge = df_merge.fillna(0)

In [40]:
df_merge['match_id'] = df_merge['match_id'].astype(int)

# Match players stats data

For each player, we are retrieving the match players stats in order to create an average by players position for a given match, so as to have a more refined indicator than the team rating.

In [23]:
def players_stats(json, teamloc):
    
    IsAway = 0 if teamloc == 'home' else 1 if teamloc == 'away' else None

    stats = pd.DataFrame()
   
    row = 0
    for match_id, infos_match in json.items():
        
        home = dict(list(infos_match.values())[IsAway])
        for column, player_stat in home['Player_stats'].items():
            stats.loc[row, 'season'] = None
            stats.loc[row, 'match_id'] = match_id
            for column1, player_details in home['Player_stats'][column]['player_details'].items():
              stats.loc[row, column1] = player_details
            for column1, match_details in home['Player_stats'][column]['Match_stats'].items():
              stats.loc[row, column1] = match_details

            row+=1
    
    stats = stats.sort_values(by=['match_id'])
    stats = stats.reset_index(drop=True)

    for column in stats.columns[6:]:
        stats[column] = stats[column].astype(float)
    
    return stats

In [24]:
players_stats_home = {'season_14_15': players_stats(team_stats_14_15_json, 'home').add_prefix('home_'), 
                      'season_15_16': players_stats(team_stats_15_16_json, 'home').add_prefix('home_'), 
                      'season_16_17': players_stats(team_stats_16_17_json, 'home').add_prefix('home_'),  
                      'season_17_18': players_stats(team_stats_17_18_json, 'home').add_prefix('home_')}

players_stats_away = {'season_14_15': players_stats(team_stats_14_15_json, 'away').add_prefix('away_'), 
                      'season_15_16': players_stats(team_stats_15_16_json, 'away').add_prefix('away_'), 
                      'season_16_17': players_stats(team_stats_16_17_json, 'away').add_prefix('away_'),  
                      'season_17_18': players_stats(team_stats_17_18_json, 'away').add_prefix('away_')}

In [25]:
# concatenation for home team data
df_players_home = pd.concat([players_stats_home['season_14_15'], players_stats_home['season_15_16'], players_stats_home['season_16_17'], players_stats_home['season_17_18']])

# concatenation for away team data
df_players_away = pd.concat([players_stats_away['season_14_15'], players_stats_away['season_15_16'], players_stats_away['season_16_17'], players_stats_away['season_17_18']])

In [26]:
df_players_home.head()

   home_season home_match_id  ... home_penalty_save home_att_pen_post
0          NaN        829513  ...               NaN               NaN
1          NaN        829513  ...               NaN               NaN
2          NaN        829513  ...               NaN               NaN
3          NaN        829513  ...               NaN               NaN
4          NaN        829513  ...               NaN               NaN

[5 rows x 38 columns]

In [27]:
df_players_away.head()

   away_season away_match_id  ... away_att_pen_miss away_att_pen_post
0          NaN        829513  ...               NaN               NaN
1          NaN        829513  ...               NaN               NaN
2          NaN        829513  ...               NaN               NaN
3          NaN        829513  ...               NaN               NaN
4          NaN        829513  ...               NaN               NaN

[5 rows x 38 columns]

In [28]:
# keeping only players with a rating
df_players_home_rated = df_players_home.loc[df_players_home['home_player_rating'] > 0,:]
df_players_away_rated = df_players_away.loc[df_players_away['away_player_rating'] > 0,:]

In [29]:
# creating the key for merge for later stage
df_players_home_rated = df_players_home_rated.rename(columns={"home_match_id": "match_id"})
df_players_away_rated = df_players_away_rated.rename(columns={"away_match_id": "match_id"})

In [30]:
# grouping players by position
df_players_home_rated['home_player_position'] = df_players_home_rated['home_player_position_value']
df_players_home_rated['home_player_position'].replace(['1', '2', '3', '4', '5'], ['Goalkeeper', 'Defender', 'Midfielder', 'Forward', 'Substitute'], inplace = True)

df_players_away_rated['away_player_position'] = df_players_away_rated['away_player_position_value']
df_players_away_rated['away_player_position'].replace(['1', '2', '3', '4', '5'], ['Goalkeeper', 'Defender', 'Midfielder', 'Forward', 'Substitute'], inplace = True)

In [31]:
def position_rating(teamloc):
  
  output = pd.DataFrame()
  position_list = ['Goalkeeper', 'Defender', 'Midfielder', 'Forward', 'Substitute']

  if teamloc == 'home':
    df = pd.DataFrame(df_players_home_rated.groupby(['match_id', teamloc + '_player_position']).mean()[teamloc + '_player_rating'].reset_index())
  elif teamloc == 'away':
    df = pd.DataFrame(df_players_away_rated.groupby(['match_id', teamloc + '_player_position']).mean()[teamloc + '_player_rating'].reset_index())
  
  df.index = df['match_id']

  for position in position_list:
    output = pd.concat([output, df.loc[df[teamloc + '_player_position'] == position,:]], axis = 1)
    output = output.rename(columns = {teamloc + '_player_rating':position.lower() + str('_') + teamloc + '_player_rating'})
    output = output.drop(['match_id', teamloc + '_player_position'], axis = 1)

  output = output.reset_index()
  output = output.rename(columns = {'index':'match_id'})

  return output

df_position_home = position_rating('home')

In [32]:
# Creation of ratings dataframes
df_position_home_rating = position_rating('home')
df_position_away_rating = position_rating('away')

In [33]:
df_position_home_rating.head()

  match_id  ...  substitute_home_player_rating
0  1080506  ...                       7.090000
1  1080507  ...                       6.313333
2  1080508  ...                       6.055000
3  1080509  ...                       6.213333
4  1080510  ...                       6.093333

[5 rows x 6 columns]

In [37]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1520 entries, 0 to 1519
Data columns (total 85 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   match_id                    1520 non-null   object
 1   home_team_id                1520 non-null   object
 2   home_team_name              1520 non-null   object
 3   home_team_rating            1520 non-null   float64
 4   date                        1520 non-null   datetime64[ns]
 5   home_att_goal_low_left      1520 non-null   float64
 6   home_won_contest            1520 non-null   float64
 7   home_possession_percentage  1520 non-null   float64
 8   home_total_throws           1520 non-null   float64
 9   home_att_miss_high_left     1520 non-null   float64
 10  home_blocked_scoring_att    1520 non-null   float64
 11  home_total_scoring_att      1520 non-null   float64
 12  home_att_sv_low_left        1520 non-null   float64
 13  home_total_tackle           1520 non-null   float64
 14  home_att_miss_high_right    1520 non-null   float64
 15  home_aerial_won             1520 non-null   float64
 16  home_att_miss_right         1520 non-null   float64
 17  home_att_sv_low_centre      1520 non-null   float64
 18  home_aerial_lost            1520 non-null   float64
 19  home_accurate_pass          1520 non-null   float64
 20  home_total_pass             1520 non-null   float64
 21  home_won_corners            1520 non-null   float64
 22  home_shot_off_target        1520 non-null   float64
 23  home_ontarget_scoring_att   1520 non-null   float64
 24  home_att_miss_left          1520 non-null   float64
 25  home_fk_foul_lost           1520 non-null   float64
 26  home_att_sv_low_right       1520 non-null   float64
 27  home_att_goal_low_centre    1520 non-null   float64
 28  home_att_sv_high_left       1520 non-null   float64
 29  home_total_offside          1520 non-null   float64
 30  home_att_goal_high_left     1520 non-null   float64
 31  home_att_goal_low_right     1520 non-null   float64
 32  home_att_miss_high          1520 non-null   float64
 33  home_att_sv_high_centre     1520 non-null   float64
 34  home_att_post_high          1520 non-null   float64
 35  home_post_scoring_att       1520 non-null   float64
 36  home_att_sv_high_right      1520 non-null   float64
 37  home_att_pen_goal           1520 non-null   float64
 38  home_att_post_right         1520 non-null   float64
 39  home_att_goal_high_right    1520 non-null   float64
 40  home_att_post_left          1520 non-null   float64
 41  home_att_goal_high_centre   1520 non-null   float64
 42  home_penalty_save           1520 non-null   float64
 43  season                      1520 non-null   object
 44  away_team_id                1520 non-null   object
 45  away_team_name              1520 non-null   object
 46  away_team_rating            1520 non-null   float64
 47  away_won_corners            1520 non-null   float64
 48  away_fk_foul_lost           1520 non-null   float64
 49  away_won_contest            1520 non-null   float64
 50  away_total_tackle           1520 non-null   float64
 51  away_aerial_lost            1520 non-null   float64
 52  away_possession_percentage  1520 non-null   float64
 53  away_att_goal_low_left      1520 non-null   float64
 54  away_total_pass             1520 non-null   float64
 55  away_total_throws           1520 non-null   float64
 56  away_total_offside          1520 non-null   float64
 57  away_blocked_scoring_att    1520 non-null   float64
 58  away_ontarget_scoring_att   1520 non-null   float64
 59  away_aerial_won             1520 non-null   float64
 60  away_accurate_pass          1520 non-null   float64
 61  away_total_scoring_att      1520 non-null   float64
 62  away_att_sv_low_left        1520 non-null   float64
 63  away_att_miss_high_right    1520 non-null   float64
 64  away_att_miss_right         1520 non-null   float64
 65  away_shot_off_target        1520 non-null   float64
 66  away_att_miss_left          1520 non-null   float64
 67  away_att_miss_high          1520 non-null   float64
 68  away_att_goal_low_centre    1520 non-null   float64
 69  away_att_goal_high_right    1520 non-null   float64
 70  away_att_miss_high_left     1520 non-null   float64
 71  away_att_sv_low_centre      1520 non-null   float64
 72  away_att_goal_high_left     1520 non-null   float64
 73  away_att_sv_high_centre     1520 non-null   float64
 74  away_att_goal_low_right     1520 non-null   float64
 75  away_att_sv_high_right      1520 non-null   float64
 76  away_att_sv_high_left       1520 non-null   float64
 77  away_penalty_save           1520 non-null   float64
 78  away_att_sv_low_right       1520 non-null   float64
 79  away_post_scoring_att       1520 non-null   float64
 80  away_att_post_high          1520 non-null   float64
 81  away_att_post_left          1520 non-null   float64
 82  away_att_pen_goal           1520 non-null   float64
 83  away_att_goal_high_centre   1520 non-null   float64
 84  away_att_post_right         1520 non-null   float64
dtypes: datetime64[ns](1), float64(78), object(6)
memory usage: 1021.2+ KB

In [41]:
df_position_rating = df_position_home_rating.merge(df_position_away_rating, on = ['match_id'])
df_position_rating['match_id'] = df_position_rating['match_id'].astype(int)

# Merging both df
df_merge = df_merge.merge(df_position_rating, on = ['match_id'])

# Removing substitutes as not considered as relevant
df_merge = df_merge.drop(columns=['substitute_away_player_rating', 'substitute_home_player_rating']) 

# If there is no attacking player, rating equals 0
df_merge['forward_away_player_rating'] = df_merge['forward_away_player_rating'].fillna(0)

In [42]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1520 entries, 0 to 1519
Data columns (total 93 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   match_id                       1520 non-null   int64
 1   home_team_id                   1520 non-null   object
 2   home_team_name                 1520 non-null   object
 3   home_team_rating               1520 non-null   float64
 4   date                           1520 non-null   datetime64[ns]
 5   home_att_goal_low_left         1520 non-null   float64
 6   home_won_contest               1520 non-null   float64
 7   home_possession_percentage     1520 non-null   float64
 8   home_total_throws              1520 non-null   float64
 9   home_att_miss_high_left        1520 non-null   float64
 10  home_blocked_scoring_att       1520 non-null   float64
 11  home_total_scoring_att         1520 non-null   float64
 12  home_att_sv_low_left           1520 non-null   float64
 13  home_total_tackle              1520 non-null   float64
 14  home_att_miss_high_right       1520 non-null   float64
 15  home_aerial_won                1520 non-null   float64
 16  home_att_miss_right            1520 non-null   float64
 17  home_att_sv_low_centre         1520 non-null   float64
 18  home_aerial_lost               1520 non-null   float64
 19  home_accurate_pass             1520 non-null   float64
 20  home_total_pass                1520 non-null   float64
 21  home_won_corners               1520 non-null   float64
 22  home_shot_off_target           1520 non-null   float64
 23  home_ontarget_scoring_att      1520 non-null   float64
 24  home_att_miss_left             1520 non-null   float64
 25  home_fk_foul_lost              1520 non-null   float64
 26  home_att_sv_low_right          1520 non-null   float64
 27  home_att_goal_low_centre       1520 non-null   float64
 28  home_att_sv_high_left          1520 non-null   float64
 29  home_total_offside             1520 non-null   float64
 30  home_att_goal_high_left        1520 non-null   float64
 31  home_att_goal_low_right        1520 non-null   float64
 32  home_att_miss_high             1520 non-null   float64
 33  home_att_sv_high_centre        1520 non-null   float64
 34  home_att_post_high             1520 non-null   float64
 35  home_post_scoring_att          1520 non-null   float64
 36  home_att_sv_high_right         1520 non-null   float64
 37  home_att_pen_goal              1520 non-null   float64
 38  home_att_post_right            1520 non-null   float64
 39  home_att_goal_high_right       1520 non-null   float64
 40  home_att_post_left             1520 non-null   float64
 41  home_att_goal_high_centre      1520 non-null   float64
 42  home_penalty_save              1520 non-null   float64
 43  season                         1520 non-null   object
 44  away_team_id                   1520 non-null   object
 45  away_team_name                 1520 non-null   object
 46  away_team_rating               1520 non-null   float64
 47  away_won_corners               1520 non-null   float64
 48  away_fk_foul_lost              1520 non-null   float64
 49  away_won_contest               1520 non-null   float64
 50  away_total_tackle              1520 non-null   float64
 51  away_aerial_lost               1520 non-null   float64
 52  away_possession_percentage     1520 non-null   float64
 53  away_att_goal_low_left         1520 non-null   float64
 54  away_total_pass                1520 non-null   float64
 55  away_total_throws              1520 non-null   float64
 56  away_total_offside             1520 non-null   float64
 57  away_blocked_scoring_att       1520 non-null   float64
 58  away_ontarget_scoring_att      1520 non-null   float64
 59  away_aerial_won                1520 non-null   float64
 60  away_accurate_pass             1520 non-null   float64
 61  away_total_scoring_att         1520 non-null   float64
 62  away_att_sv_low_left           1520 non-null   float64
 63  away_att_miss_high_right       1520 non-null   float64
 64  away_att_miss_right            1520 non-null   float64
 65  away_shot_off_target           1520 non-null   float64
 66  away_att_miss_left             1520 non-null   float64
 67  away_att_miss_high             1520 non-null   float64
 68  away_att_goal_low_centre       1520 non-null   float64
 69  away_att_goal_high_right       1520 non-null   float64
 70  away_att_miss_high_left        1520 non-null   float64
 71  away_att_sv_low_centre         1520 non-null   float64
 72  away_att_goal_high_left        1520 non-null   float64
 73  away_att_sv_high_centre        1520 non-null   float64
 74  away_att_goal_low_right        1520 non-null   float64
 75  away_att_sv_high_right         1520 non-null   float64
 76  away_att_sv_high_left          1520 non-null   float64
 77  away_penalty_save              1520 non-null   float64
 78  away_att_sv_low_right          1520 non-null   float64
 79  away_post_scoring_att          1520 non-null   float64
 80  away_att_post_high             1520 non-null   float64
 81  away_att_post_left             1520 non-null   float64
 82  away_att_pen_goal              1520 non-null   float64
 83  away_att_goal_high_centre      1520 non-null   float64
 84  away_att_post_right            1520 non-null   float64
 85  goalkeeper_home_player_rating  1520 non-null   float64
 86  defender_home_player_rating    1520 non-null   float64
 87  midfielder_home_player_rating  1520 non-null   float64
 88  forward_home_player_rating     1520 non-null   float64
 89  goalkeeper_away_player_rating  1520 non-null   float64
 90  defender_away_player_rating    1520 non-null   float64
 91  midfielder_away_player_rating  1520 non-null   float64
 92  forward_away_player_rating     1520 non-null   float64
dtypes: datetime64[ns](1), float64(86), int64(1), object(5)
memory usage: 1.1+ MB

# Match odds data

In [43]:
! pip install datapackage

Collecting datapackage
  Downloading datapackage-1.15.2-py2.py3-none-any.whl (85 kB)
     |████████████████████████████████| 85 kB 2.3 MB/s
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from datapackage) (1.15.0)
Requirement already satisfied: chardet>=3.0 in /usr/local/lib/python3.7/dist-packages (from datapackage) (3.0.4)
Collecting unicodecsv>=0.14
  Downloading unicodecsv-0.14.1.tar.gz (10 kB)
Collecting tabulator>=1.29
  Downloading tabulator-1.53.5-py2.py3-none-any.whl (72 kB)
     |████████████████████████████████| 72 kB 515 kB/s
Requirement already satisfied: jsonschema>=2.5 in /usr/local/lib/python3.7/dist-packages (from datapackage) (2.6.0)
Requirement already satisfied: requests>=2.8 in /usr/local/lib/python3.7/dist-packages (from datapackage) (2.23.0)
Collecting jsonpointer>=1.10
  Downloading jsonpointer-2.2-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: click>=6.7 in /usr/local/lib/python3.7/dist-packages (from datapackage) (7.1.2)
Collecting tableschema>=1.12.1
  Downloading tableschema-1.20.2-py2.py3-none-any.whl (68 kB)
     |████████████████████████████████| 68 kB 6.0 MB/s
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.8->datapackage) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.8->datapackage) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.8->datapackage) (1.24.3)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from tableschema>=1.12.1->datapackage) (2.8.2)
Collecting rfc3986>=1.1.0
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: cached-property>=1.5 in /usr/local/lib/python3.7/dist-packages (from tableschema>=1.12.1->datapackage) (1.5.2)
Collecting isodate>=0.5.4
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     |████████████████████████████████| 41 kB 471 kB/s
Collecting openpyxl>=2.6
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 40.4 MB/s
Collecting jsonlines>=1.1
  Downloading jsonlines-3.0.0-py3-none-any.whl (8.5 kB)
Collecting linear-tsv>=1.0
  Downloading linear-tsv-1.1.0.tar.gz (9.6 kB)
Requirement already satisfied: xlrd>=1.0 in /usr/local/lib/python3.7/dist-packages (from tabulator>=1.29->datapackage) (1.1.0)
Requirement already satisfied: sqlalchemy>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from tabulator>=1.29->datapackage) (1.4.27)
Collecting ijson>=3.0.3
  Downloading ijson-3.1.4-cp37-cp37m-manylinux2010_x86_64.whl (126 kB)
     |████████████████████████████████| 126 kB 37.0 MB/s
Collecting boto3>=1.9
  Downloading boto3-1.20.24-py3-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 42.2 MB/s
Collecting jmespath<1.0.0,>=0.7.1
  Downloading jmespath-0.10.0-py2.py3-none-any.whl (24 kB)
Collecting s3transfer<0.6.0,>=0.5.0
  Downloading s3transfer-0.5.0-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 6.8 MB/s
Collecting botocore<1.24.0,>=1.23.24
  Downloading botocore-1.23.24-py3-none-any.whl (8.4 MB)
     |████████████████████████████████| 8.4 MB 46.2 MB/s
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Downloading urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
     |████████████████████████████████| 127 kB 57.2 MB/s
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from jsonlines>=1.1->tabulator>=1.29->datapackage) (21.2.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from jsonlines>=1.1->tabulator>=1.29->datapackage) (3.10.0.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl>=2.6->tabulator>=1.29->datapackage) (1.1.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.9.6->tabulator>=1.29->datapackage) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.9.6->tabulator>=1.29->datapackage) (4.8.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.9.6->tabulator>=1.29->datapackage) (3.6.0)
Building wheels for collected packages: linear-tsv, unicodecsv
  Building wheel for linear-tsv (setup.py) ... done
  Created wheel for linear-tsv: filename=linear_tsv-1.1.0-py3-none-any.whl size=7399 sha256=dd882d805404ff9f16885efa0dbe56dbc8e21a0818ace029ee4ed3bd264b120a
  Stored in directory: /root/.cache/pip/wheels/dd/0a/62/49ee84fab92057fb3e303fb1a59e75ccac6899b417f441305a
  Building wheel for unicodecsv (setup.py) ... done
  Created wheel for unicodecsv: filename=unicodecsv-0.14.1-py3-none-any.whl size=10765 sha256=bf10f200a5d072e56cd44eb01afc29db6d0f27587568b1384b47cca5d92230c4
  Stored in directory: /root/.cache/pip/wheels/1a/f4/8a/a5024fb77b32ed369e5c409081e5f00fbe3b92fdad653f6e69
Successfully built linear-tsv unicodecsv
Installing collected packages: urllib3, jmespath, botocore, s3transfer, unicodecsv, openpyxl, linear-tsv, jsonlines, ijson, boto3, tabulator, rfc3986, isodate, tableschema, jsonpointer, datapackage
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 2.5.9
    Uninstalling openpyxl-2.5.9:
      Successfully uninstalled openpyxl-2.5.9
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed boto3-1.20.24 botocore-1.23.24 datapackage-1.15.2 ijson-3.1.4 isodate-0.6.1 jmespath-0.10.0 jsonlines-3.0.0 jsonpointer-2.2 linear-tsv-1.1.0 openpyxl-3.0.9 rfc3986-1.5.0 s3transfer-0.5.0 tableschema-1.20.2 tabulator-1.53.5 unicodecsv-0.14.1 urllib3-1.25.11

In [44]:
import datapackage

In [45]:
# retrieving odds data relevant for seasons considered

data_url = 'https://datahub.io/sports-data/english-premier-league/datapackage.json'
package = datapackage.Package(data_url)
resources = package.resources

cotes_1415 = pd.read_csv(resources[5].descriptor['path'])
cotes_1516 = pd.read_csv(resources[4].descriptor['path'])
cotes_1617 = pd.read_csv(resources[3].descriptor['path']) 
cotes_1718 = pd.read_csv(resources[2].descriptor['path'])

In [46]:
df_odds = pd.concat([cotes_1415, cotes_1516, cotes_1617, cotes_1718])

In [47]:
# Converting date
df_odds['date'] = df_odds['Date'].apply(lambda x: pd.to_datetime(x, dayfirst=True))
df_odds = df_odds.drop(['Date'], axis=1)

In [48]:
# Harmonising team names accross datasets

old_names = sorted(df_odds['HomeTeam'].unique())
new_names = sorted(df_merge['home_team_name'].unique())

#print(old_names)
#print(new_names)
df_odds['HomeTeam'] = df_odds['HomeTeam'].replace(old_names, new_names)
df_odds['AwayTeam'] = df_odds['AwayTeam'].replace(old_names, new_names)

In [49]:
# Remove odds columns that contain NaNs
df_odds = df_odds.dropna(axis='columns')

In [50]:
# Remove variables that are redundant with df_merge
df_odds = df_odds.drop(['Div','HS','AS','HST','AST','HC', 'AC'], axis=1)

# Merging Stats and Odds

In [51]:
df_stats_odds = df_merge.merge(df_odds, left_on = ['date', 'home_team_name', 'away_team_name'], right_on = ['date', 'HomeTeam', 'AwayTeam'])

In [52]:
# Removing redundancies and unuseful columns, and making sure id columns are ints
df_stats_odds = df_stats_odds.drop(['HomeTeam','AwayTeam'], axis=1)
df_stats_odds[['match_id','home_team_id','away_team_id']] =  df_stats_odds[['match_id','home_team_id','away_team_id']].astype(int)
df_stats_odds  = df_stats_odds.drop(['Referee'], axis=1)

# CSV Output

In [56]:
df_stats_odds.to_csv('df_stats_odds.csv')